APP_PORT=9099
APP_HOST=localhost

DATABASE_URI=postgres://postgres:postgres@localhost:5432/test
DATABASE_MIN_CONNECTIONS=1
DATABASE_MAX_CONNECTIONS=10
REDIS_URI=redis://localhost:6379/0
PASSWORD_SALT=test_salt