APP_PORT=9099
APP_HOST=localhost
APP_NAME=SpaceBox

ROOT_DIR=D:\\test_spacebox

DATABASE_URI=postgres://postgres:postgres@localhost:5432/test
DATABASE_MIN_CONNECTIONS=1
DATABASE_MAX_CONNECTIONS=10
REDIS_URI=redis://localhost:6379/0
PASSWORD_SALT=test_salt

EMAIL_SENDER=test@gmail.com
EMAIL_SENDER_PASSWORD=password
EMAIL_SMTP_SERVER=smtp.gmail.com
EMAIL_SMTP_PORT=465